header > div {
    flex-grow: 1;
    justify-content: flex-start;
    align-self: center;
    margin-left: 5px;
}
#brand{
    padding: 7px;
    margin-left: 15px;
    text-decoration: none;
}

@media (max-width: 800px) {
    #brand{padding: 3px;
        margin-left: 5px;}
  }

#brand > img:hover{
  -ms-transform: scale(1.2);
  -webkit-transform:scale(1.2);
  transform: scale(1.2);
}
h1{
    font-size: 20px; 
    margin-right: 15px;
    align-self: center;
}
#picture > img{
    top: 30px;
    width: 100%;
    height: auto;

}

#logo{
    width: 70%;
    justify-content: center;
    align-items: center;

}

#logo > img{
    width: 100%;
    height: auto;
}
#log{
    width: 15%;
    height: 100%;
    display: flex;
    
}

#log > img{
    width:  100%;
    padding: 10px;
}

#navega{
    display: flex;
    flex-grow: 1;
}
#navega > ul{
    width: 100%;
    display: flex;
    justify-content: end;
}
#navega > ul > li {
    display: inline-block;
    border: 5px;
    border-color: #000;
}
#navega > ul > li > a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    
}/*
 nave > ul > li > a:before{
content: '';
position: absolute;
top: 0;
left:0;
width: 100%;
height: 100%;
background: #000000;
}
*/